body{
    background-image: url('../images/contact.png');
    background-size: cover;
    background-position: center;
    text-align: center;
}


.hamburger-menu {
  font-size: 24px;            
  cursor: pointer;            
}

.iBT{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iBg-text{
    color: olivedrab;
    font-size: 45px;
    font-weight: 700;
}

.iBg-text2{
    color: olivedrab;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.scroll-container {
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;    
  align-items: center;        
  width: 100%;                
}

.scroll-text {
  position: absolute;
  width: 400px;
  animation: scroll-up 100s linear infinite;
  color: rgb(200, 14, 14);
  font-weight: bold;
}

@keyframes scroll-up {
  0% {
      top: 100%;
  }
  100% {
      top: -100%;
  }
}

  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d2770;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
   }
   
   .button-link:hover {
   opacity: 0.5;
   }