{% extends "base.html" %}
{% block title %} Register {% endblock title %}
{% block head %}
{{super()}}
{% endblock head %}
{% block content %}
<div id="mySidenav" class="sidenav">
    <a href="#home" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="#about"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
</div>



<!-- Main Content -->
<div id="main" class="main">
   
</div>
    

{% endblock content %}
{% block footer %}
<div><a href="{{url_for('register')}}">Need an account? Sign up!</a></div>
{{super()}}
{% endblock footer %}
