<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>{% block title %} Base {% endblock title %}</title>
    {% endblock head %}

    <style>
    .social-icon {
        color: rgb(99, 201, 201) !important;
        transition: transform 0.3s ease;
    }
    .social-icon:hover {
        transform: scale(1.2);
    }
</style>
</head>

<body>


<!-- Main Header -->
<header>
    <div class="div">
        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo">
        <h1>DORNUEL HEALTH CONSULT</h1>
    </div>
    <nav class="navbar" >
        <!-- Navigation Links -->
        <ul class="nav-menu" id="navMenu">
            <li class="nav-item"><a href="{{ url_for('about')}}">About</a></li>
            <li class="nav-item"><a href="{{ url_for('logout')}}">Logout</a></li>
        </ul>
    </nav>
</header>


<div class="toggle-button">
    <div class="subbar">
        <!-- Toggle Button for Small Screens -->
        <div class="hamburger-menu" onclick="toggleNav()">&#9776;
            <marquee style="font-size: small; position: absolute; top: 35%; color: rgb(248, 248, 161);" direction="left" scrollamount="3" scrolldelay="10" loop="infinite" onmousemove="this.stop()" onmouseout="this.start()">
                Dornuel Health Consult is dedicated to providing comprehensive healthcare for individuals with Hypertension and Diabetes conditions, with services ranging from routine check-ups to specialized treatments.
                Our mission is to ensure our clients receive personalized attention and expert care tailored to their health needs. 
                From preventative screenings to advanced diagnostic testing, we offer thorough assessments to ensure early detection and proactive management of Hypertensive and Diabetic conditions. 
                Additionally, our team provides personalized treatment plans, and ongoing support to empower clients to achieve optimal health and wellness. With us, you'll receive the care and attention you deserve to live the best of your life.</div>
    
            </marquee>    
        </div>
     </div>
</div>



<!-- No content, effectively removing the sidebar and toggle button -->

 

<!-- Main Content -->
<div class="main-content">
    <!-- Flash message section -->
    <div class="container">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade-out" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% block content %}{% endblock content %}
</div>


<!-- Footer -->
<footer>
    {% block footer %}
    <div style="float:inline-start">
        <h3>Contact Us Now On </h3>
        <div style="color: rgb(99, 201, 201)">+1234567890</div>
        <p class="mb-2"><i class="fa fa-envelope me-3 social-icon"></i>dornuel@gmail.com</p>
    </div><br/> follow us on
    <div>
    <a href="https://www.facebook.com" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a  href="https://instagram.com/" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a  href="https://www.linkedin.com/" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
    </a>
</div>
    &copy; Copyright 2024 by <a style="color: rgb(99, 201, 201)" href="https://dornuelconsult.com"  >Dornuel Health Consult</a>
    {% endblock footer %}
</footer>
<!-- Include jQuery or any other JavaScript libraries here -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<!-- Flash message pop-up script -->
<script>
    $(document).ready(function() {
        // Display the flash messages
        $(".alert").fadeIn(500).delay(3000).fadeOut(5000); // Adjust timing as needed
    });
</script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
