<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="main page for the class project">
    {% block title %}{% endblock title %}
    {% block stylesheets %} {% endblock stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
   
</head>
<body>

<!-- Main Header -->
<header>
    <nav class="navbar">
        <div>
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo">
        </div>
        <div class="navbar-title">
            <h1>DORNUEL HEALTH CONSULT</h1>
        </div>

        <!-- Navigation Links -->
        <ul class="nav-menu" id="navMenu">
            <li class="nav-item"><a href="{{ url_for('about')}}">About</a></li>
            <li class="nav-item"><a href="{{ url_for('logout')}}">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="toggle-button">
    <div class="subbar">
        <!-- Toggle Button for Small Screens -->
        <div class="hamburger-menu" onclick="toggleNav()">&#9776;
            <marquee style="font-size: small; position: absolute; top: 35%; color: rgb(248, 248, 161);" direction="left" scrollamount="3" scrolldelay="10" loop="infinite" onmousemove="this.stop()" onmouseout="this.start()">
                Dornuel Health Consult is dedicated to providing comprehensive healthcare for individuals with Hypertension and Diabetes conditions, with services ranging from routine check-ups to specialized treatments. Our mission is to ensure our clients receive personalized attention and expert care tailored to their health needs. 
                From preventative screenings to advanced diagnostic testing, we offer thorough assessments to ensure early detection and proactive management of Hypertensive and Diabetic conditions. Additionally, our team provides personalized treatment plans, and ongoing support to empower clients to achieve optimal health and wellness. With us, you'll receive the care and attention you deserve to live the best of your life.</div>
    
            </marquee>    
        </div>
     </div>
</div>
        <!-- Page content-->
        {% block content %} {% endblock content %}

        {% block javascripts %} {% endblock javascripts %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous"></script> -->
    <script src = "{{ url_for('static', filename='js/scripts.js')}}"></script>
    

        </div>
    </div>

<!-- Footer -->
<footer>
    {% block footer %}
    <div style="float:inline-start">
        <h3>Contact Us Now On </h3>
        <div style="color: rgb(99, 201, 201)">+1234567890</div>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>dornuel@gmail.com</p>
    </div><br/> follow us on:
    <div class="">
        <a style="color:rgb(99, 201, 201)" class="btn btn-outline-light btn-social" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a style="color: rgb(99, 201, 201)" class="btn btn-outline-light btn-social" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
        <a style="color:rgb(99, 201, 201)" class="btn btn-outline-light btn-social" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
    </div><br/>
    &copy; Copyright 2024 by <a style="color: rgb(99, 201, 201)" href="https://dornuelconsult.com">Dornuel Health Consult</a>
    {% endblock footer %}
</footer>
<!-- Include jQuery or any other JavaScript libraries here -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<!-- Flash message pop-up script -->
<script>
    $(document).ready(function() {
        // Display the flash messages
        $(".alert").fadeIn(500).delay(1000).fadeOut(5000); // Adjust timing as needed
    });
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>