{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {{super()}}
{% endblock head %}

{% block content %}

<!-- Side Navigation for Mobile -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="{{ url_for('home') }}" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="{{ url_for('register') }}"><i class="fas fa-cogs"></i> Register</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
</div>

<section class="row">
    <div class="iBT">
      
        <div class="iBg-text">Own Your Health</div>
        <div class="iBg-text2">Achieve Optimal Blood Pressure And Blood Sugar Levels</div>
    </div>
    
    <!-- Marquee with Scrolling Text -->
    <div class="scroll-container">
        <div class="scroll-text">
        </div>
        <div class="iBg-text2">
            <p style="font-family:'Dancing Script', cursive; color: rgb(248, 248, 161); text-shadow: 0.5px 0.5px 1px black; ">Meet With Our Dedicated Staff</p>
        </div>
    </div>

   
    <div class="container-fluid">
        <div><a href="{{ url_for('register') }}" class="button-link">Register New Client</a></div>
    
    
    <div><a href="{{ url_for('appointment') }}" class="button-link">Book Appointment</a></div>
    </div>
</section>



{% endblock content %}

{% block footer %}
    {{super()}}
{% endblock footer %}
