{% extends "base.html" %}
{% block title %} Index {% endblock title %}
{% block head %}
{% block style %}{% endblock style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{{super()}}
{% block script %}{% endblock script %}

{{super()}}
{% endblock head %}
{% block content %}
    
    <div id="msg" class="login">
      <form>
          <p>Your wellbeing is your wealth. Prioritize your health.</p>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" placeholder="Your username"><br><br>
        <label for="passwaord">Passwaord</label><br>
        <input type="password" id="passwaord" name="passwaord" placeholder="Your passwaord"><br><br>
        <button type="submit" class="button">Login</button><a href="#">Sign Up</a> to register
      </form>
    </div>

{% endblock content %}
{% block footer %}

{{super()}}
{% endblock footer %}