{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block head %}
    {% block stylesheet %}{% endblock stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    {{super()}}
{% endblock head %}

{% block content %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>

</div>

    <div id="msg" class="login">
        <form action="/login" method="POST" class="form-signup" id="signlog">
            <p style="color: rgb(99, 201, 201);" ><strong>Your health is your wealth</strong><br/><em>Prioritize your health</em></p>
            <label for="username"></i></label>
            <div class="input-container" class="form-group">
                <i class="fa fa-user icon"></i>
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            
            <label for="password"></i></label>
            <div class="input-container" class="form-group">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="password" name="password" placeholder="Password">
            </div><br>
            
            <button id="submit" type="submit" class="submit-btn">Login</button>
            <label style="font-size: small;">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label><br>
            
            <span class="lg_pasw" style="font-size: small;">
                Forgot <a href="#">password?</a>
            </span>&nbsp;&nbsp;
            <a href="{{ url_for('sign_up') }}" style="width:auto; font-size: small;">Sign Up</a>
        </form>
    </div>
 
{% endblock content %}

{% block footer %}
    {{super()}}
{% endblock footer %}
