{% extends "base.html" %}
{% block title %} Metrics {% endblock title %}
{% block head %}
    {% block stylesheet %}{% endblock stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    {{super()}}
    {% block script %}{% endblock script %}
{% endblock head %}

{% block content %}

<!-- Side Navigation for Mobile -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="{{ url_for('home') }}" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
</div>

<!-- Main Content -->
<div class="main-content">
    <div class="container-fluid">
        <h1 class="mt-4">Patient Health Metrics</h1>
        <h3>Health Records</h3>
        <div class="msg">{{ msg }}</div>

                <form action="/metrics" method="post">
                    <div class ="row">
                    <div class="col-5">
                    <label for="recorded_date">Date of Record</label>
                    </div>
                    <div class="col-7">
                    <input type="date" name="date_of_report" id="report-date" value="{{ patient_health_metrics.date_of_report }}">
                    </div>
                    </div>
                    <hr/>
                    <div class ="row">
                    <div class="col-5">
                    <label for="client.patient_id">Client ID</label>
                    </div>
                    <div class="col-7">
                    <input type="text" name="client.patient_id" id="client.patient_id" value="{{ patient_health_metrics.patient_id }}">
                    </div>
                    </div>
                    <hr/>
                    <div class ="row">
                        <div class="col-5">
                            <label for="health_care_facility">Health Care Facility</label>
                            </div>
                            <div class="col-7">
                            <input type="text" name="health_care_facility" id="health_care_facility" value="{{patient_health_metrics.health_care_facility}}"><br/>
                            
                            </div>

                            <div class="col-5">
                                <label for="provider_name"></label>
                                </div>
                                <div class="col-7">
                                <input type="text" name="provider_name" id="provider_name" value="{{patient_health_metrics.provider_name}}"><br/>
                                
                                </div>
                        <div class="col-5">
                        <label for="provider_contact">Health Provider's Contact</label>
                        </div>
                        <div class="col-7">
                        <input type="text" name="provider_contact" id="provider_contact" value="{{patient_health_metrics.provider_contact}}"><br/>
                        
                        </div>
                        </div>
                        <hr/>
                        <div class ="row">
                        <div class="col-5">
                        <label for="trep-test">Vitals Signs</label>
                        </div>
                        <div class="col-7">
                           Weight: <input type ="text" name = "weight"><br/>
                           Height: <input type ="text" name = "height"><br/>
                           Blood Pressure: <input type ="text" name = "blood_pressure"><br/>
                           Blood Suger: <input type ="text" name = "blood_suger"><br/>
                           Temperature: <input type ="text" name = "temperature"><br/>
                           Respiration: <input type ="text" name = "respiration"><br/>
                           Pulse: <input type ="text" name = "pulse"><br/>
                           Oxygen Saturation: <input type ="text" name = "spo2"><br/>

                        <hr/>
                        <div class ="row">
                        <div class="col-5">
                        <label for="urine_ketones">Urine_ketones</label>
                        </div>
                        <div class="col-7">
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="Nill"> Nill<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="1+"> 1+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="2+"> 2+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="3+"> 3+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="No test"> No test<br/>
                        </div>
                        </div>
                        <hr/>

                        <div class ="row">
                            <div class="col-5">
                            <label for="lab_investigation_result">Laboratory Investigation</label>
                            </div>
                            <div class="input-group">
                                <input type="text" name="lab_investigation_type[]" id="lab_investigation_type[]" placeholder="Enter Investigation" required>
                                <input type="text" name="lab_investigation_type[]" id="lab_investigation_result[]" placeholder="Enter Result" required>
                                <button type="button" id="add-more">Add Another</button>

                            </div>
                            </div>
                            <hr/>

                        <div class ="row">
                            <div class="col-5">
                            <label for="lab_investigation_type">Radiographic Investigation</label>
                            </div>
                            <div class="input-group">
                                <input type="text" name="radiograph_investigation_type[]" placeholder="Enter Investigation" required>
                                <input type="text" name="radiograph_investigation_type[]" placeholder="Enter Result" required>

                                <button type="button" id="add-more">Add Another</button>

                            </div>
                            </div>
                            <hr/>

                                <div class ="form-group">
                                    <label for="heart_conditions">Heart Conditons</label>
                                    <input type="text" class="form-control" id="heart_conditions" name="heart_conditions" placeholder="Heart Conditons">
                                </div>
                               <hr/>

                               <div class ="form-group">
                                <label for="diagnosis">Diagnosis</label>
                                <input type="text" class="form-control" id="diagnosis" name="diagnosis" placeholder="Diagnosis">
                            </div>
                           <hr/>

                           <div class ="form-group">
                            <label for="hospitalized_for_hpt_dm">Has client been hospitalized before for HPT/DM ? </label>
                            <input type="text" class="form-control" id="hospitalized_for_hpt_dm" name="hospitalized_for_hpt_dm" placeholder="">
                        </div>
                       <hr/>

                       <div class ="form-group">
                        <label for="complications">Any Complications</label>
                        <input type="text" class="form-control" id="complications" name="complications" value="Complicatons">
                    </div>
                   <hr/>

                   <div class ="row">
                    <div class="col-5">
                    <label for="hiv-status">Add Note</label>
                    </div>
                    <div class="col-7">
                        <div class="form-group">
                            <label for="message">Additional Information</label>
                            <textarea id="message" name="message" rows="4" placeholder="Enter any additional information (optional)"></textarea>
                        </div>
                    </div>
                    </div>
        </form>
</div>

{% endblock content %}

{% block footer %}
    {{super()}}
{% endblock footer %}