{% extends "base.html" %}
{% block title %} Metrics {% endblock title %}
{% block head %}
    {% block stylesheet %}{% endblock stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metrics.css') }}">
    {{super()}}
    {% block script %}{% endblock script %}
{% endblock head %}

{% block content %}

<!-- Side Navigation for Mobile -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="{{ url_for('home') }}" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
</div>

<!-- Main Content -->
<div class="main-content">
    <div class="container-fluid">
        <h1 class="mt-4">Patient Health Metrics</h1>
        <h3>Health Records</h3>
        <div class="msg">{{ msg }}</div>

                <form action="/metrics" method="post">
                    <div class ="row">
                    <div class="col-5">
                    <label for="recorded_date">Date Recorded</label>
                    </div>
                    <div class="col-7">
                    <input type="date" name="recorded_date" id="recorded_date">
                    </div>
                    </div>
                    <hr/>
                    <div class ="row">
                    <div class="col-5">
                    <label for="health_metrics.unique_id">Client ID</label>
                    </div>
                    <div class="col-7">
                    <input type="text" name="client.unique_id" id="client.unique_id" placeholder="readonly" readonly>
                    </div>
                    </div>
                    <hr/>
                    <div class ="row">
                        <div class="col-5">
                            <label for="health_care_facility">Health Care Facility</label>
                            </div>
                            <div class="col-7">
                            <input type="text" name="health_care_facility" id="health_care_facility"><br/>
                            </div>
                            </div>
                            <hr/>

                            <div class="row">
                            <div class="col-5">
                                <label for="provider_name">Health Provider Name</label>
                                </div>
                                <div class="col-7">
                                <input type="text" name="provider_name" id="provider_name"><br/>
                                
                                </div>
                            </div>
                            <hr/>

                        <div class="row">
                        <div class="col-5">
                        <label for="provider_contact">Health Provider's Contact</label>
                        </div>
                        <div class="col-7">
                        <input type="text" name="provider_contact" id="provider_contact" value=><br/>
                        
                        </div>
                        </div>
                        <hr/>
                        <div class ="row">
                        <div class="col-5">
                        <label for="trep-test">Vitals Signs</label><br/>
                        </div>
                        <div class="col-7">
                           Weight: <input type ="text" class="form-control" name = "weight"><br/>
                           Height: <input type ="text" class="form-control" name = "height"><br/>
                           Blood Pressure: <input type ="text" class="form-control" name = "blood_pressure"><br/>
                           Fasting Blood Suger: <input type ="text" class="form-control" name = "fasting_blood_suger"><br/>
                           Random Blood Suger: <input type ="text" class="form-control" name = "random_blood_suger"><br/>
                           Temperature: <input type ="text" class="form-control" name = "temperature"><br/>
                           Respiration: <input type ="text" class="form-control" name = "respiration"><br/>
                           Pulse: <input type ="text" class="form-control" name = "pulse"><br/>
                           Oxygen Saturation: <input type ="text" class="form-control" name = "spo2"><br/>
                        </div>
                        </div>
                        <hr/>
                        
                        <div class ="row">
                        <div class="col-5">
                        <label for="urine_ketones">Urine_ketones</label>
                        </div>
                        <div class="col-7">
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="Nill"> Nill<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="1+"> 1+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="2+"> 2+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="3+"> 3+<br/>
                        <input type="radio" name="urine_ketones" id="urine_ketones" value="No test"> No test<br/>
                        </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-5">
                                <label for="lab_investigation_result">Laboratory Investigation</label>
                            </div>
                            <div class="input-group" id="lab-investigation-group">
                                <input type="text" name="lab_investigation_type[]" placeholder="Enter Investigation" required>
                                <input type="text" name="lab_investigation_result[]" placeholder="Enter Result" required>
                                <button type="button" id="add-more">Add Another</button>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-5">
                                <label for="radiograph_investigation_type">Radiographic Investigation</label>
                            </div>
                            <div class="input-group" id="radiograph-investigation-group">
                                <input type="text" name="radiograph_investigation_type[]" placeholder="Enter Investigation" required>
                                <input type="text" name="radiograph_investigation_result[]" placeholder="Enter Result" required>
                                <button type="button" id="add-more-radiograph">Add Another</button>
                            </div>
                        </div>
                        <hr/>


                        <div class ="form-group">
                            <label for="diagnosis">Diagnosis</label>
                            <input type="text" class="form-control" id="diagnosis" name="diagnosis" placeholder="Diagnosis">
                        </div>
                        <hr/>

                        <div class ="form-group">
                            <label for="hospitalized_for_hpt_dm">Has client been hospitalized before for HPT/DM ? </label>
                            <input type="text" class="form-control" id="hospitalized_for_hpt_dm" name="hospitalized_for_hpt_dm" placeholder="">
                        </div>
                       <hr/>

                       <div class ="form-group">
                        <label for="complications">Any Complications</label>
                        <input type="text" class="form-control" id="complications" name="complications" value="Complicatons">
                    </div>
                   <hr/>

                   <div class ="row">
                    <div class="col-5">
                    <label for="metric_notes">Add Note</label>
                    </div>
                    <div class="col-7">
                        <div class="form-group">
                            <label for="metric_notes">Additional Information</label>
                            <textarea id="metric_notes" name="metric_notes" rows="4" placeholder="Enter any additional information (optional)"></textarea>
                        </div>
                    </div>
                <hr/>
                <input type ="submit" value = "Submit" class ="submit-btn">
        </form>
</div>

{% endblock content %}

{% block footer %}
    {{super()}}
{% endblock footer %}