{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block head %}
    {% block stylesheet %}{% endblock stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    {{super()}}
    {% block script %}{% endblock script %}
{% endblock head %}

{% block content %}

<!-- Side Navigation for Mobile -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="{{ url_for('home') }}" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
</div>

<!-- Main Content -->
<div class="main-content">
   
</div>

{% endblock content %}

{% block footer %}
    {{super()}}
{% endblock footer %}