{% extends "base.html" %}

{% block title %} Register {% endblock title %}

{% block head %}
{% block stylesheet %}{% endblock stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
{{super()}}
{% endblock head %}

{% block content %}


<!-- Side Navigation for Mobile -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="{{ url_for('home') }}" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a>
    <a href="#services"><i class="fas fa-cogs"></i> Services</a>
    <a href="{{ url_for('metrics') }}"><i class="fa fa-stethoscope"></i> Metrics</a>
    <a href="{{ url_for('treatment') }}"><i class="fa fa-pills"></i> Treatment</a>
    <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
    <a href="#feedback"><i class="fas fa-comment"></i> Feedback</a>
    <a href="{{ url_for('login') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>

</div>
Hi {{session.username}} !!</br></br> Welcome to the Registration Page
<div class ="row">
    <div class ="col-md-8">
       <div class ="">
       
        <div>
            <p> Client Registration form</p>
   
        <form method ="post" action ="/register_client" class="form-signup">
        <div class="input-container" class="form-group">
            <label for="unique_id">Client ID</label>
            <input type="text" class="form-control" id="unique_id" name="unique_id" placeholder="This field is for staff use only" readonly>
        </div>

        <div class="input-container" class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name">
        </div>
        <div class="input-container" class="form-group">
            <label for="middle_name">Middle Name</label>
            <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Enter Middle Name">
        </div>
        <div class="input-container" class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name">
        </div> 

        <div class="input-container" class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of birth">
        </div> 

        <div class="input-container" class="form-group">
            <label for="cob">Country of birth</label>
            <input type="text" class="form-control" id="cob" name="cob" placeholder="Country of birth">
        </div>
        
        <div class="input-container" class="form-group">
            <label for="gender">Gender: </label><br/>
            <input type="radio"  id="gender" name="gender" value = "Female"> Female
            <input type="radio" id="gender" name="gender" value = "Male"> Male
            <input type="radio" id="gender" name="gender" value = "Intersex"> Intersex
        </div>
        
        <div class="input-container" class="form-group">
            <label for="marital_status">Marital Status:</label><br/>
            <input type="radio" id="marital_status" name="marital_status" value ="Single"> Single
            <input type="radio" id="marital_status" name="marital_status" value ="Married"> Married
            <input type="radio" id="marital_status" name="marital_status" value ="Divorced"> Divorced
            <input type="radio" id="marital_status" name="marital_status" value ="Widowed"> Widowed
            <input type="radio" id="marital_status" name="marital_status" value ="Separated"> Separated
            <input type="radio" id="marital_status" name="marital_status" value ="Cohabiting"> Cohabiting
            <input type="radio" id="marital_status" name="marital_status" value ="Other"> Other
        </div>

        <div class="input-container" class="form-group">
            <label for="occupation">Occupation: </label><br/>
            <input type="radio" id="occupation" name="occupation" value="Employed">Employed
            <input type="radio" id="occupation" name="occupation" value="Unemployed">Unemployed
            <input type="radio" id="occupation" name="occupation" value="Student">Student
            <input type="radio" id="occupation" name="occupation" value="Retired">Retired
            <input type="radio" id="occupation" name="occupation" value="Housewife">Housewife
            <input type="radio" id="occupation" name="occupation" value="Self-employed">Self-employed
            <input type="radio" id="occupation" name="occupation" value="Other">Other

        </div>
        
        <div class="input-container" class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
        </div>
        
        <div class="input-container" class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="line1" placeholder="Address line 1">
            <input type="text" class="form-control" name="city" placeholder="City">
            <input type="text" class="form-control" name="state" placeholder="State">
            <input type="text" class="form-control" name="zip-code" placeholder="Zip">
            <input type="text" class="form-control" name="country" placeholder="Country">
        </div>
        
        <div class="input-container" class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
        </div>
        
        <div class="input-container" class="form-group">
            <label for="ethnicity">Ethnicity</label>
            <input type="text" class="form-control" id="ethnicity" name="ethnicity" placeholder="Ethnicity">
        </div>
        
        <div class="input-container" class="form-group">
            <label for="race">Race</label>
            <input type="text" class="form-control" id="race" name="race" placeholder="Race">
        </div>

        <div class="input-container" class="form-group">
            <label for="emergency_contact_name">Emergency Contact</label>
            <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name" placeholder="Emergency Contact Name">
        </div>

        <div class="input-container" class="form-group">
            <label for="emergency_contact_number">Emergency Contact Number</label>
            <input type="text" class="form-control" id="emergency_contact_number" name="emergency_contact_number" placeholder="Emergency Contact Number">
        </div>

        <div class="input-container" class="form-group">
            <label for="emergency_contact_relationship">Emergency Contact Relation</label>
            <input type="text" class="form-control" id="emergency_contact_relationship" name="emergency_contact_relationship" placeholder="Emergency Contact Relation">
        </div>

        <div class="input-container" class="form-group">
            <label for="emergency_contact_address">Emergency Contact Address</label>
            <input type="text" class="form-control" id="emergency_contact_address" name="emergency_contact_address" placeholder="Emergency Contact Address">
        </div>

</div>

</div>
</div>

<div class = "col-md-4">
    <div class ="">
        <p> Risk Assessment form</p>
   <div id="risk_ass">
    <div class="input-container" class="form-group">
        <label for="family_has_history_of_hpt_dm">Client's Family History of Hypertension & Diabetes </label>
        <input type="radio" id="family_has_history_of_hpt_dm" name="family_has_history_of_hpt_dm" value="Hypertension">Hypertension
        <input type="radio" id="family_has_history_of_hpt_dm" name="family_has_history_of_hpt_dm" value="Diabetes">Diabetes
        <input type="radio" id="family_has_history_of_hpt_dm" name="family_has_history_of_hpt_dm" value="Both">Both
        <input type="radio" id="family_has_history_of_hpt_dm" name="family_has_history_of_hpt_dm" value="None">None
        <input type="radio" id="family_has_history_of_hpt_dm" name="family_has_history_of_hpt_dm" value="Unknown">Unknown

    </div>

    <div class="input-container" class="form-group">
        <label for="has_underlying_medical_condition">Client has an underlying medical condition(s): </label>
        <input type="radio" id="has_underlying_medical_condition" name="has_underlying_medical_condition" value="Yes">Yes.
        <input type="radio" id="has_underlying_medical_condition" name="has_underlying_medical_condition" value="No">No.
        <input type="radio" id="has_underlying_medical_condition" name="has_underlying_medical_condition" value="Unknown">Unknown. &nbsp;&nbsp;

        <p>If Yes, State Condition</p><input type="text" class="form-control" id="underlying_condition" name="underlying_condition" placeholder="Conditon">
    </div>

    <div class="input-container" class="form-group">
        <label for="alcohol_intake">Alcohol Intake: </label><br/>
        <input type="radio" id="alcohol_intake" name="alcohol_intake" value="Occational">Occational
        <input type="radio" id="alcohol_intake" name="alcohol_intake" value="Moderate">Moderate
        <input type="radio" id="alcohol_intake" name="alcohol_intake" value="Heavy">Heavy
        <input type="radio" id="alcohol_intake" name="alcohol_intake" value="None">None
    </div>

    <div class="input-container" class="form-group">
        <label for="smoking_tobacco_use">Smokes/Tobacco Use: </label><br/>
        <input type="radio" id="smoking_tobacco_use" name="smoking_tobacco_use" value="Yes">Yes
        <input type="radio" id="smoking_tobacco_use" name="smoking_tobacco_use" value="No">No
    </div>

    <div class="input-container" class="form-group">
        <label for="type_of_diet">Diet Intake: </label><br/>
        <input type="radio" id="type_of_diet" name="type_of_diet" value="Normal Diet">Normal Diet
        <input type="radio" id="type_of_diet" name="type_of_diet" value="Low Salt Diet">Low Salt Diet
        <input type="radio" id="type_of_diet" name="type_of_diet" value="Low Fat Diet">Low Fat Diet
        <input type="radio" id="type_of_diet" name="type_of_diet" value="Vegan">Vegan
    </div>

    <div class="input-container" class="form-group">
        <label for="overweight_obese">Body Mass Index: </label><br/>
        <input type="radio" id="bmi" name="bmi" value="Underweight">Underweight
        <input type="radio" id="bmi" name="bmi" value="Normal">Normal 
        <input type="radio" id="bmi" name="bmi" value="Overweight">Overweight
        <input type="radio" id="bmi" name="bmi" value="Obesity">Obesity
    </div>

    <div class="input-container" class="form-group">
        <label for="dose_exercise">Engage In Aerobics:</label><br/>
        <input type="radio" id="dose_exercise" name="dose_exercise" value="Yes">Yes
        <input type="radio" id="dose_exercise" name="dose_exercise" value="No">No
    </div>
   </div>
   <br/>

    <input type ="submit" value= "Register Client" class ="submit-btn">
    </form><br><br>

    <hr style="border: solid 3 white;">

    <marquee class="input-container2" class="form-group" style="height: 200px; background-color: #f9f9f9;" direction="up" srollamount="10" scrolldelay="500" loop="infinite" onmousemove="this.stop()" onmouseout="this.start()">
        
            <p>Health Tips<br><br><strong>Managing</strong> hypertension (high blood pressure) and diabetes (high blood sugar) together requires a balanced approach to diet, exercise, and lifestyle habits.<br><br> Here are some evidence-based tips to help you optimize both conditions: </p>
            
            <p><strong>Follow a Balanced Diet</strong><br> 
                <em><u>Prioritize Whole Grains:</u></em> Choose whole grains like brown rice, quinoa, oats, and whole wheat. They have a lower glycemic index and help maintain stable blood sugar levels.<br/><br/>
                <em><u>Eat Plenty of Vegetables:</u></em> Aim for a variety of colorful, non-starchy vegetables (e.g., spinach, kale, broccoli, bell peppers). <u>Leafy greens are rich in potassium and help manage blood pressure.</u><br/><br/>
                <em><u>Lean Proteins:</u></em> Choose lean meats (chicken, turkey, fish), plant-based proteins (lentils, beans), and tofu. Fatty fish like salmon and mackerel contain omega-3 fatty acids, which can help reduce inflammation and protect heart health.<br/><br/>
                <em><u>Limit Salt and Processed Foods:</u></em> Reduce sodium intake by avoiding processed foods, packaged snacks, and restaurant meals. Opt for herbs and spices instead of salt to flavor your food.<br/><br/>
                <em><u>Reduce Refined Sugars and Carbohydrates:</u></em> Avoid sugary drinks, sweets, and processed carbs (like white bread and pastries). Choose natural sweeteners like stevia if necessary.<br/><br/>
                <em><u>Increase Fiber Intake:</u></em> Fiber helps control blood sugar and reduces blood pressure. Include foods like oats, beans, lentils, chia seeds, and flaxseeds. </p>
    
            <p><strong>Maintain a Healthy Weight</strong><br>
                Even modest weight loss can have a significant impact on both blood pressure and blood sugar levels. Aim for a gradual and sustainable reduction in body weight through diet and regular physical activity.<br/>
                Calculate and track your BMI (Body Mass Index) and strive for a normal range (18.5–24.9). </p>
    
            <p>
                <strong>Exercise Regularly</strong><br/>
                <em><u>Aerobic Exercise:</u></em> Engage in moderate physical activities like walking, cycling, swimming, or dancing for at least 30 minutes most days of the week. Aim for a total of 150 minutes per week.<br/><br/>
                <em><u>Strength Training:</u></em> Incorporate strength training exercises (using resistance bands, weights, or body weight) 2–3 times per week. Building muscle mass helps improve insulin sensitivity and can lower blood pressure.<br/><br/>
                <em><u>Flexibility and Balance:</u></em> Activities like yoga and Tai Chi can reduce stress, which is beneficial for managing both conditions.
            </p>
    
            <p>
                <strong>Monitor Your Blood Pressure and Blood Sugar Levels</strong><br/>
                Regularly check your blood pressure using a home monitor, and keep it below 120/80 mm Hg if possible.
                Monitor your blood glucose (both fasting and post-meal). Aiming for an A1C level of less than 7% (or per your doctor’s recommendation) is ideal for diabetes management.
            </p>
    
            <p>
                <strong>Stay Hydrated</strong><br/>
                Drink plenty of water throughout the day. Avoid sugary drinks and limit alcohol, which can raise blood pressure and spike blood sugar.
            </p>
    
            <p>
                <strong>Manage Stress</strong><br/>
                Chronic stress can raise both blood pressure and blood sugar. Practice stress-reducing activities like meditation, deep breathing, journaling, or spending time in nature.
            </p>
    
            <p>
                <strong>Sleep Well</strong><br/>
                Ensure you get 7–9 hours of sleep per night. Poor sleep is linked to worsened insulin resistance and elevated blood pressure.
            </p>
    
            <p>
                <strong>Limit Alcohol and Avoid Smoking</strong><br/>
                Excessive alcohol intake can raise blood pressure and affect blood sugar control. If you drink, limit it to one drink per day for women and two drinks per day for men.
                Smoking cessation is essential as smoking constricts blood vessels, raises blood pressure, and worsens insulin resistance.
            </p>
    
            <p>
                <strong>Medications</strong><br/>
                Adhere to prescribed medications for both hypertension and diabetes. Common medications for high blood pressure (ACE inhibitors, ARBs, diuretics) and diabetes (metformin, insulin) are important for managing the conditions.

            </p>

            <p>
                <strong>Regular Doctor Visits</strong><br/>
                Regular checkups with your healthcare provider are essential to monitor and adjust your treatment plan, track your blood pressure, and review blood sugar levels.
            </p> 

            <p>
                STAY HEALTHY<br/><br/>
                Thank you
            </p>
        </marquee><br>
        
        <div>
            <img src="{{ url_for('static', filename='images/ab3.jpg') }}" alt="logo">
        </div>


    
    <div class ="">
        <p>Retrieve Information</p>
        
        <div class="msg">{{ msg }}</div>
        <form method ="post" action ="{{ url_for('retrieve_client') }}">
            
        <div class ="form-group">
            <label for="client_id">Client ID</label>
            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="Enter Client ID">
            <hr/>
            <input type ="submit" placeholder = "Retrieve Client" class ="submit-btn">
        </div>
        </form>
        <p style="font-family:'Dancing Script', cursive; color: rgb(248, 248, 161); text-shadow: 0.5px 0.5px 1px black; text-align: center; font-size: xx-large; ">Your wellbeing is your wealth.<br> Prioritize your health.</p>

    </div>
    </div>
</div>
</div>

{% endblock content %}

{% block footer %}

{{super()}}
{% endblock footer %}
